/switch/nbproject/private/
/switch/build/
/ejercicio-1/nbproject/private/
/ejercicio-1/build/
/JavaApplication16/nbproject/private/
/incremento/nbproject/private/
/incremento/build/
/break/nbproject/private/
/break/build/
/JavaApplication19/nbproject/private/
/continue/nbproject/private/
/continue/build/
/figuras/nbproject/private/
/figuras/build/
/paquetes/nbproject/private/